@font-face {
    font-family: Nunito;
    src: url(https://sadhost.neocities.org/fonts/Nunito-Regular.ttf);
}
@font-face {
    font-family: Nunito;
    src: url(https://sadhost.neocities.org/fonts/Nunito-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: Nunito;
    src: url(https://sadhost.neocities.org/fonts/Nunito-Italic.ttf);
    font-style: italic;
}
@font-face {
    font-family: Nunito;
    src: url(https://sadhost.neocities.org/fonts/Nunito-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: Atkinson;
    src: url(fonts/AtkinsonHyperlegible-Italic.ttf);
    font-style: italic;
}


[data-theme="light"]{
  --background: rgb(251, 217, 240);
  --border:rgb(206, 116, 159);
  --text: rgb(157, 33, 110);

}

[data-theme="dark"]{
  --background: rgb(0,0,0);
  --border: rgb(206, 116, 159);
  --text: rgb(255, 189, 230);
}

html{
  height: 100vh;
}

body {
  font-family: Atkinson;
  background-color: var(--background);
  color: var(--text);
  position: relative;
  height: 100%;
  margin: 0;
}

#centre{
  top: 10%;
  left: 50%;
  transform: translate(-50%);
  position: absolute;
  margin: auto;
  width: 80%;
  max-width: 800px;

}

#navbar{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  > div{
    width: 100%;
    text-align: center;
    font-style: italic;
    padding: 5px 0px 5px 0px;
    margin: 2px 0px 2px 0px;
    border: dashed var(--border) 1px;
    a{
      text-decoration: none;
      color: var(--text);
    }

  }
  > div:hover > a{
    font-weight: bold;
  }
}

.navbarDropdown{
  position: relative;
  cursor: pointer;
  .dropdownContent{
    top: 100%;
    display: none;
    position: absolute;
  }

}
.dropdownContent{
  background-color: var(--background);
  a{
    padding: 5px 0px 5px 0px;
    display: block;
    min-width: 130px;
    border: dashed var(--border) 1px;
    color: var(--text);
  }
  a:hover{
    font-weight: bold;
  }
}

.navbarDropdown:hover .dropdownContent{
  display: block;
}

#lowerPane{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 140px;
  div{
    padding: 5px;
  }
}

#updatesPane{
  max-width: 66%;
  border: dashed var(--border) 1px;
  overflow: auto;
  scrollbar-width: none;  
  ul {
    list-style-type: circle;
    padding-left: 20px;
  }
  h4{
    margin: 3px;
  }
}

#colourScheme{
  border: dashed var(--border) 1px;
  ul{
    list-style-type: none;
    padding: 5px;
    margin: 0;
  }
  li:hover{
    font-weight: bold;
  }
  p{
    font-weight: bold;
    margin: 3px;
  }
}

#bottom{
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--border);
  color: var(--text);
  
  > *{
    margin: 5px;
  }
  button{
    font-style: italic;
    font-size: 12pt;
    background: none;
    color: var(--background);
    border: 0;
    cursor: pointer;
  }
  a{
    color: var(--border);
    text-decoration: none;
    color: var(--background);
  }
  a:hover{
    text-decoration: underline;
  }
}